
<script type="text/javascript">
(function() {
    DI.registerController('szkieletCtrl', function() {
        var self = this;

        self.meToo = 'Ja też nie...'
        self.hCube = {
            top : '6%',
            left : '23%',
            display : 'none'
        };
        self.questions = [
            { num: 1, remember: "Os frontale", top: '1.5%', left: '16%' },
            { num: 13, remember: "Mandibula", top: '9%', left: '16%' },
            { num: 25, remember: "Os sacrum", top: '37%', left: '42%' },
            { num: 28, remember: "Corpus sterni", top: '23%', left: '9%' },
            { num: 36, remember: "Clavicula", top: '13.5%', left: '36%' },
            { num: 37, remember: "Scapula", top: '20%', left: '57%' },
            { num: 40, remember: "Humerus", top: '25%', left: '9%' },
            { num: 42, remember: "Ulna", top: '33%', left: '6%' },
            { num: 44, remember: "Radius", top: '37%', left: '2%' },
            { num: 45, remember: "Ossa carpalia", top: '39%', left: '0%' },
            { num: 46, remember: "Ossa metacarpalia", top: '44.5%', left: '7%' },
            { num: 56, remember: "Femur", top: '57.5%', left: '84%' },
            { num: 61, remember: "Patella", top: '58.5%', left: '39%' },
            { num: 62, remember: "Fibula", top: '69%', left: '41%' },
            { num: 63, remember: "Tibia", top: '65%', left: '41%' },
            { num: 68, remember: "Phalanges", top: '78%', left: '45%' }
        ];

        self.over = function(ques, isOver) {
            if (!isOver) {
                self.hCube.display = 'none';
                return;
            }

            if (ques && ques.top && ques.left) {
                self.hCube.top = ques.top;
                self.hCube.left = ques.left;
            }

            self.hCube.display = 'block';
        }
    });
})();
</script>
<div ng-controller="szkieletCtrl as szkiel">
    <h1>Lekcja anatomii - szkielet<top-date>15.X.2014</top-date></h1>
    <p>
        Aby przypomnieć i utrwalić sobie zagadnienia dotyczące anatomii a dokładniej listę kości z jakich składa się szkielet człowieka zamieszczam poniżej listę wypunktowaną odnoszącą się do nazw każdej z kości po łacinie. Aby dowiedzieć się jak ta kość się nazywa wystarczy kliknąć w link odpowiadający kości, której nazwę zapomnieliśmy i wtedy zamieni się on na właściwą nazwę kości.
    </p>
    <p>
        Podpowiedź: na dole obrazka znajduje się lista nazwa kości w języku angielskim - jest to pewnego rodzaju ułatwienie.
    </p>
    <p>
        <code>//DO ROZSZERZENIA//</code> - fajnie byłoby aby po najechaniu na link "[Nie pamiętam]" albo na numerek na obrazku podświetlało się to drugie bo czasami ciężko jest namierzyć daną kość gdyż numeracja wydaje się, na pierwszy rzut oka, pomieszana(<code>//Połowicznie już działa - tylko najechanie na pytanie podświetla numerek na obrazku</code>). Pytanie tylko jak to się zgra z automatycznym skalowaniem obrazka oraz podglądem na smartfonach.
    </p>
    <h4>Niestety jeszcze nie wszystkie nazwy kości zostały uzupełnione. Tam gdzie to jeszcze nie zostało zrobione pojawi się napis "{{szkiel.meToo}}" lub pole będzie ukryte żeby nie zaciemniać obrazu. Brakujące pozycje powinny być przeze mnie regularnie dodawane w miarę wolnego czasu.</h4>

    <div>
        <div class="half-container">
            <div class="quater-width">
                <ol class="no-bullet nopad">
                    <li ng-repeat="ques in szkiel.questions">
                        {{ques.num}}.
                        <quiz-remember remember="{{ques.remember}}"
                            m-over="szkiel.over(ques, true)"
                            m-leave="szkiel.over(ques, false)">
                        </quiz-remember>
                    </li>
                </ol>
            </div>
            <div class="three-quaters-width">
                <!-- <image-info
                    info="Szkielet ludzki ze słownika z 1906r. [1]"
                    src="/img/topic/anatomia/humanBones.jpg">
                    </image-info> -->

                <div class="imageInfo">
                    <div style="position:relative">
                        <img class="fit block" src="/img/topic/anatomia/humanBones.jpg" alt="Szkielet ludzki ze słownika z 1906r. [1]" />
                        <div style="width:3%;height:2%;background-color:rgba(255,255,0,0.5);position:absolute;" ng-style="szkiel.hCube"></div>
                    </div>
                    <div class="imageDescription">Szkielet ludzki ze słownika z 1906r. [1]</div>
                </div>
            </div>
        </div>
    </div>
    <h3>Informacje o obrazku</h3>
    <p>
        <ul class="no-bullet nopad">
            <li>[1] - http://olddesignshop.com/2014/08/bones-dictionary-page-and-clip-art-free-graphics/</li>
        </ul>
    </p>
</div>
