
<script type="text/javascript">
(function() {
    DI.registerController('szkieletCtrl', function() {
        var self = this;

        self.meToo = 'Ja też nie...'
        self.questions = [
            { num: 1, remember: 'Os frontale' },
            { num: 13, remember: "Mandibula" },
            { num: 25, remember: "Os sacrum" },
            { num: 28, remember: "Corpus sterni" },
            { num: 36, remember: "Clavicula" },
            { num: 37, remember: "Scapula" },
            { num: 40, remember: "Humerus" },
            { num: 42, remember: "Ulna" },
            { num: 44, remember: "Radius" },
            { num: 45, remember: "Ossa carpalia" },
            { num: 46, remember: "Ossa metacarpalia" },
            { num: 56, remember: "Femur" },
            { num: 61, remember: "Patella" },
            { num: 62, remember: "Fibula" },
            { num: 63, remember: "Tibia" },
            { num: 68, remember: "Phalanges" }
        ];

        self.over = function(ques, isOver) {
            //console.log('ovr', arguments);
        }
    });
})();
</script>
<div ng-controller="szkieletCtrl as szkiel">
    <h1>Lekcja anatomii - szkielet<top-date>15.X.2014</top-date></h1>
    <p>
        Aby przypomnieć i utrwalić sobie zagadnienia dotyczące anatomii a dokładniej listę kości z jakich składa się szkielet człowieka zamieszczam poniżej listę wypunktowaną odnoszącą się do nazw każdej z kości po łacinie. Aby dowiedzieć się jak ta kość się nazywa wystarczy kliknąć w link odpowiadający kości, której nazwę zapomnieliśmy i wtedy zamieni się on na właściwą nazwę kości.
    </p>
    <p>
        Podpowiedź: na dole obrazka znajduje się lista nazwa kości w języku angielskim - jest to pewnego rodzaju ułatwienie.
    </p>
    <p>
        <code>//DO ROZSZERZENIA//</code> - fajnie byłoby aby po najechaniu na link "[Nie pamiętam]" albo na numerek na obrazku podświetlało się to drugie bo czasami ciężko jest namierzyć daną kość gdyż numeracja wydaje się, na pierwszy rzut oka, pomieszana. Pytanie tylko jak to się zgra z automatycznym skalowaniem obrazka oraz podglądem na smartfonach.
    </p>
    <h4>Niestety jeszcze nie wszystkie nazwy kości zostały uzupełnione. Tam gdzie to jeszcze nie zostało zrobione pojawi się napis "{{szkiel.meToo}}" lub pole będzie ukryte żeby nie zaciemniać obrazu. Brakujące pozycje powinny być przeze mnie regularnie dodawane w miarę wolnego czasu.</h4>
    <div>
        <div class="half-container">
            <div class="quater-width">
                <ol class="no-bullet nopad">
                    <li ng-repeat="ques in szkiel.questions">
                        {{ques.num}}.
                        <quiz-remember remember="{{ques.remember}}"
                            m-over="szkiel.over(ques, true)"
                            m-leave="szkiel.over(ques, false)">
                        </quiz-remember>
                    </li>
                </ol>
            </div>
            <div class="three-quaters-width">
                <image-info
                    info="Szkielet ludzki ze słownika z 1906r. [1]"
                    src="/img/topic/anatomia/humanBones.jpg">
                    </image-info>
            </div>
        </div>
    </div>
    <h3>Informacje o obrazku</h3>
    <p>
        <ul class="no-bullet nopad">
            <li>[1] - http://olddesignshop.com/2014/08/bones-dictionary-page-and-clip-art-free-graphics/</li>
        </ul>
    </p>
</div>
