

<div>
    <h1>Festiwal świateł - Łódź 2014<top-date>12.X.2014</top-date></h1>
    <p>
        Kilka zdjęć i bardzo krótki film z występu z festiwalu. Wszytkie zdjęcia posiadają wbudowane geo-tagi (film chyba też). Jakość jest... zależna od telefonu, którym nagrania zostały wykonane.
        <image-info info="Występ grupy jazzowej w oknie. (Okno poniżej reflektorów)" src="/img/topic/festiwal-swiatel-lodz-2014/20141011_200437_LLS_mod.jpg"></image-info>
    </p>
    <!-- <div>
        <div class="half-container">
            <div class="half-width">rd</div>
            <div class="half-width">bl</div>
        </div>
    </div> -->
    <div>
        <div class="half-container">
            <div class="half-width imgPad">
                <div class="videoPad">
                    <img class="fit" src="/img/topic/festiwal-swiatel-lodz-2014/vimeo-pad.jpg" />
                    <iframe src="//player.vimeo.com/video/108697416" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="half-width">
                <div class="stdPadSpace">
                    <image-info info="Pokaz na Starym rynku." src="/img/topic/festiwal-swiatel-lodz-2014/20141011_205505_HDR_mod.jpg"></image-info>
                </div>
            </div>
        </div>
    </div>
</div>
