

<div>
    <h1>Festiwal świateł - Łódź 2014<top-date>12.X.2014</top-date></h1>
    <p>
        Kilka zdjęć i film z festiwalu. Jakość jest... zależna od telefonu, którym nagrania zostały wykonane. Wszytkie zdjęcia posiadają wbudowane geo-tagi.
        <img class="fit" src="/img/topic/festiwal-swiatel-lodz-2014/20141011_200437_LLS_mod.jpg" />
    </p>
    <!-- <div>
        <div class="half-container">
            <div class="half-width">rd</div>
            <div class="half-width">bl</div>
        </div>
    </div> -->
    <div>
        <div class="half-container">
            <div class="half-width imgPad">
                <!-- <iframe width="560" height="315" src="//www.youtube.com/embed/yfhe5KPQs2Y" frameborder="0" allowfullscreen></iframe> -->
                <!-- <iframe class="fit" src="//www.youtube.com/embed/yfhe5KPQs2Y" frameborder="0" allowfullscreen></iframe> -->
                <div class="videoPad">
                    <img class="fit" src="/img/topic/festiwal-swiatel-lodz-2014/vimeo-pad.jpg" />
                    <iframe src="//player.vimeo.com/video/108697416" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="half-width">
                <div class="stdPadSpace">
                    <img class="fit" src="/img/topic/festiwal-swiatel-lodz-2014/20141011_205505_HDR_mod.jpg" />
                </div>
            </div>
            <!-- <div style="clear:both"></div> -->
        </div>
    </div>
</div>
