
<script type="text/javascript">
    DI.registerController('homeCtrl', function(){
        var self = this;
        //DI.root.setPageTitleOnce('Niesamowite! To jest strona główna');
    });
</script>

<div ng-controller="homeCtrl as home">
    <h1>Strona główna!</h1>
    <p>
        Witam serdecznie na stronie głównej! Aktualnie jest pusta ale spokojnie, strona dopiero się tworzy.
    </p>
    <div>
        %%%pagesIndex%%%
    </div>
    <p>
        <a href="/czytastronaistnieje">A tak wygląda nieistniejąca strona</a>
    </p>
</div>
