
<script type="text/javascript">
    DI.registerController('homeCtrl', function(){
        var self = this;
        //DI.root.setPageTitleOnce('Niesamowite! To jest strona główna');
    });
</script>

<div ng-controller="homeCtrl as home">
    <h1>Strona główna!</h1>
    <p>
        Witam serdecznie na stronie głównej! Aktualnie jest pusta ale spokojnie, strona dopiero się tworzy.
    </p>
    <p>
        <a href="/czytastronaistnieje">Tak wygląda nieistniejąca strona</a>
    </p>
    <p>
        Ewentualnie dla chętnych są jeszcze dostępne strony z:
        <ul>
            <li><a href="/temat/typescript-szybki-start">TypeScript - szybki start</a></li>
            <li><a href="/temat/animacje-css">Animacjami w CSS</a></li>
            <li><a href="/temat/apache-cordova-start">Apache Cordova - konfiguracja środowiska</a></li>
            <li><a href="/temat/anatomia-szkielet">Lekcją anatomii - szkielet</a></li>
            <li><a href="/temat/festiwal-swiatel-lodz-2014">Festiwalu świateł - Łódź 2014</a></li>
            <li><a href="/temat/potop">Fragmentem z "Potopu" Henryka Sienkiewicza</a></li>
            <li><a href="/temat/mobilizacja2014">Trzema groszami nt. konferencji Mobilizacja 2014</a></li>
        </ul>
    </p>
</div>
