
<script type="text/javascript">
    DI.registerController('homeCtrl', function(){
        var self = this;
        DI.root.setPageTitleOnce('Strona główna');

        self.komu = "Andrzejowi";
    });
</script>

<div ng-controller="homeCtrl as home">
    <h1>Strona główna!</h1>
    <p>Słowa panny starościanki sochaczewskiej wielką napełniły pana Kmicica otuchą i przez trzy dni nie wychodziły mu z głowy. W dzień na koniu, w nocy na łożu rozmyślał o tym, co się przytrafiło, i zawsze dochodził do wniosku, że nie mógł to być prosty przypadek, ale prędzej wskazówka boża i przepowiednia, że jeśli wytrwa, jeśli z dobrej drogi nie zejdzie, z tej właśnie, którą mu Oleńka ukazała, to dziewczyna mu wiary dochowa i dawnym afektem obdarzy. Bo jeśli starościanka - rozmyślał pan Kmicic - dochowuje obserwancji swojemu {{home.komu}}, który dotąd poprawy nie zaczął, to i dla mnie, mającego szczerą intencję służenia ojczyźnie, cnocie i królowi, nie zagasła jeszcze nadzieja!"</p>
    <p><a href="/czytastronaistnieje">Nieistniejąca strona</a></p>
</div>
